{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [ "@babel/env", { "modules": false } ]
  ],
  "plugins": [
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["@babel/env", "@babel/preset-react"]
    }
  }
}